.Background {
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 75%, 39%);
}

.ProfileCard {
    margin-top: 30px;
    width: 100%;
    
}

.ProfileCardBody {
    padding-top: 3.5rem !important;
    padding-bottom: 2rem !important;
}



.BackgroundTopProfile {
    background-color: darkgreen;
    color:darkgreen;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProfileImage {
    background-color: darkgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.MusicalRound{
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 15px !important;
    text-align: center;
    margin: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}



.ProfileCardBackgroundImage {
    width: 350px;
    height: 200px;
    border-top-left-radius: 15px  !important;
    border-top-right-radius: 15px !important;
    background-color: darkgreen;
}

.ButtonEditProfile {
    width: 120px !important;
    margin-top: 100px; 
    margin-left: auto; 
    margin-right: 5%;
    color:rgb(7, 158, 7);
    font-weight: bold;
    float: right;
    top: 100px;
    left: 500px;
    border: 3px white solid;
    border-radius: 60px !important;
   
}

.ProfileCardImage {
    width: 120px !important;
    height: 120px !important;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 40px;
    border: 3px white solid;
    border-radius: 60px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.TextMuted {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.TextBold {
    font-size: 18px;
    font-weight: 700;

}

.CardFooter {
    background-color: white !important;
    border-bottom-left-radius: 15px  !important;
    border-bottom-right-radius: 15px !important;
}

.FooterP {
    margin-bottom: 0;
    margin-top: 0.5rem;
}
