.mainFrame {
  background-color: #EEEEEE;
  min-height: 100vh;
  padding-bottom: 60px;
}


.senderProfilePicture {
  border-radius: 1em;
  width: 3.5em;
}


.notificationPayloadText {
  font-size: smaller;
}

.button {
  border-inline: 1px;
  color: #4B9460;
}