.mainFrame {
  background-color: #EEEEEE;
  margin-bottom: 60px; /* bottomBar_height + margin */
}


.senderProfilePicture {
  border-radius: 1em;
  width: 3.5em;
}


.notificationPayloadText {
  font-size: smaller;
}

.button {
  border-inline: 1px;
  color: #4B9460;
}